{%- set route = app.request.get('_route') -%}
{%- set cities = app.config.get('taxonomy/cities/options') -%}
<!doctype html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {%- if meta_title is defined and meta_title -%}
                {{ meta_title }} | {{ config.get('general/sitename') -}}
            {%- else -%}
                {%- if record.title is defined %}{{ record.title|striptags }} | {{ config.get('general/sitename') -}}{% endif -%}
            {%- endif -%}
        </title>
        <meta name="description" content="{% if meta_description is defined %}{{ meta_description }}{% endif %}">
        <meta name="keywords" content="{% if meta_keywords is defined %}{{ meta_keywords }}{% endif %}">
        <link rel="stylesheet" href="{{ asset('dist/css/style.css', 'theme') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('scripts/slick-1.8.1/slick/slick.css', 'theme') }}">
        <link rel="stylesheet" href="{{ asset('scripts/slick-1.8.1/slick/slick-theme.css', 'theme') }}">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body{% if app.request.get('_route') == "homepage" %} class="front"{% endif %}>

        <a href="#main-content" class="visually-hidden focusable skip-link">Skip to main content</a>

        {% block body %}
            <header role="banner" class="header">

                <nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
                    <div class="container">
                        <div class="navbar-brand">
                            {% if back_url is defined %}
                                <span class="navbar-item"><a class="has-text-white" href="{{ back_url }}"><i class="fa fa-arrow-left"></i></a></span>
                            {% endif %}

                            <span class="navbar-item"><a class="has-text-white" href="{{ path('homepage') }}">RF3D</a></span>

                            <div class="navbar-item-city navbar-item has-dropdown is-hidden-desktop">
                                <a href="#" title="" class="navbar-link ">{{ city_name is defined and cities[city_name] is defined ? cities[city_name] : 'Город' }}</a>
                                <div class="navbar-dropdown dropdown">
                                    {% for key, city in cities %}
                                        <a href="{{ path('city', { 'cityName' : key }) }}" title="" class="navbar-item">{{ city }}</a>
                                    {% endfor %}
                                </div>
                            </div>


                            <span class="navbar-burger" data-target="navbar-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>


                        </div>




                        <div class="navbar-menu" id="navbar-toggle">
                            <div class="navbar-start">
                                <a href="{{ path('homepage') }}" class="navbar-item first{{ route == 'homepage' ? ' is-active' : '' }}">Главная</a>
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a href="#" title="" class="navbar-link ">{{ city_name is defined and cities[city_name] is defined ? cities[city_name] : 'Город' }}</a>
                                    <div class="navbar-dropdown">
                                        {% for key, city in cities %}
                                            <a href="{{ path('city', { 'cityName' : key }) }}" title="" class="navbar-item">{{ city }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                {#<a href="{{ path('map') }}" class="navbar-item first{{ route == 'map' ? ' is-active' : '' }}">Карта</a>#}
                            </div>
                        </div>



                    </div>
                </nav>
            </header>
            {{ widgets('main_top') }}

            <a id="main-content"></a>
            {% block main %}
            {% endblock main %}
            {{ widgets('main_bottom') }}
        {% endblock body %}

        {{ include('partials/_footer.twig') }}

        {% block bottom_js %}
            <script src="{{ asset('dist/js/bundle.js', 'theme') }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="{{ asset('scripts/slick-1.8.1/slick/slick.min.js', 'theme') }}"></script>

            {#<script src="{{ asset('js/normalizeBrightness.js', 'theme') }}"></script>#}
            {#<script src="{{ asset('js/app.js', 'theme') }}"></script>#}
        {% endblock %}
    </body>
</html>


