{# Navbar #}
<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-item"><a class="has-text-white" href="{{ path('homepage') }}">RF3D</a></span>
            <span class="navbar-burger" data-target="navbar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div class="navbar-menu" id="navbar-toggle">
            {% set route = app.request.get('_route') %}
            
            <div class="navbar-start">
                <a href="{{ path('homepage') }}" class="navbar-item first{{ route == 'homepage' ? ' is-active' : '' }}">Главная</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" title="" class="navbar-link ">Город</a>
                    <div class="navbar-dropdown">
                        {% for key, city in app.config.get('taxonomy/cities/options') %}
                            <a href="/entry/2" title="" class="navbar-item  ">{{ city }}</a>
                        {% endfor %}
                    </div>
                </div>
                <a href="{{ path('map') }}" class="navbar-item first{{ route == 'map' ? ' is-active' : '' }}">Карта</a>
            </div>
        </div>
    </div>
</nav>
