<div class="column is-4 p-b-0 p-t-0" style="padding-bottom:10px; padding-top:0;">
    <a href="{{ place.link() }}" class="">
        <figure>
            {% if place.image %}
                <img width="100%" src="{{ place.image | thumbnail(480, 300, 'c') }}" alt=""/>
            {% endif %}
            <figcaption style="text-align: center;">
                <h2 class="has-text-black title is-5">{{ place.title }}</h2>
                {% if place.subtitle %}
                    <p class="subtitle is-5">{{ place.subtitle }}</p>
                {% endif %}
            </figcaption>
        </figure>

    </a>
    {% if place.price_from > 0 or place.price_to > 0 %}
        <p>Цена{% if place.price_from > 0  %} от {{ place.price_from }} руб.{% endif %}{% if place.price_to > 0  %} до {{ place.price_to }} руб.{% endif %}</p>
    {% endif %}
    {% if place.relation('districts') %}
        {% set district =place.relation('districts') | first %}
        <p><a href="{{ district.link() }}">{{ district.title }}</a></p>
    {% endif %}
    {% if place.teaser %}
        <div class="text-muted">{{ place.teaser }}</div>
    {% endif %}

    <p><a href="{{ place.link() }}">подробнее</a></p>
</div>