<div class="column is-4 place-list-item is-4-desktop is-6-tablet is-full-mobile ">

    <a href="{{ place.link() }}">
        <div class="place-list-item-box box p-t-0 p-b-10 p-r-0 p-l-0 is-clipped">
            <figure>
                {% if place.image %}
                    <img width="100%" src="{{ place.image | thumbnail(480, 300, 'c') }}" alt=""/>
                {% endif %}

                <figcaption class="m-l-20 m-r-20">
                    <p class="has-text-black m-t-10"><strong>{{ place.title }}</strong></p>
                    {% if place.subtitle %}
                        <p class="subtitle is-6">{{ place.subtitle }}</p>
                    {% endif %}

                    <div class="">
                        {% if place.price_from > 0 or place.price_to > 0 %}
                            <p class="m-t-5 is-small has-text-black"><strong>Цена:</strong> {% if place.price_from > 0  %} от <strong class="has-text-danger">{{ place.price_from }}</strong> руб.{% endif %}</p>
                        {% endif %}

                        {% if place.capacity > 0 %}
                            <p class="has-text-black"><strong>Вместимость:</strong> до <strong class="has-text-danger has-text-black">{{ place.capacity }}</strong> чел.</p>
                        {% endif %}

                        {% if place.relation('districts') %}
                            {% set district = place.relation('districts') | first %}
                            {% if district %}
                                <p class="m-t-5 has-text-black">{{ district.title }}</p>
                            {% endif %}
                        {% endif %}

                        {% if place.relation('categories') | first %}
                            {% set category = place.relation('categories') | first %}
                            {#{{ record.relation('categories') }}#}
                            {#{% if category %}#}
                                {#<p class="m-t-5 has-text-black"><strong>Категория:</strong> {{ category.title }}</p>#}
                            {#{% endif %}#}

                            {##}
                        {% endif %}

                        {% if place.teaser %}
                            <div class="text-muted m-t-5 has-text-black">{{ place.teaser | raw }}</div>
                        {% endif %}

                        <div class="m-t-10 m-b-10 has-text-black" ><span class="has-text-danger"><strong>подробнее</strong></span></div>
                    </div>

                </figcaption>
            </figure>
        </div>
    </a>

</div>